{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  <img src="https://ru.code-maven.com/img/python.png" alt="Фото автора" width="100" height="100">
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Кривонос Роман
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p>Привет, меня зовут Роман Кривонос, я — автор этого проекта , который был создан в рамках обучения на курсе "Python-разработчик" на платформе Яндекс практикум.
              
            </p>
          </div>
          <p>Мой:    <a href="https://github.com/RomanK74">GitHub</a> </p>      
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %}