{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% load cache %}
  {% block content %}
    {% cache 20 index_page page.number%}
      {% if user.is_authenticated%}
        {% include "includes/menu.html" with index=True %}
      {% endif %}
  {% load thumbnail %}
  {% for post in page %}
    {% include "includes/post_item.html" with post=post %}
  {% endfor %}
  {% include "includes/paginator.html" %}
  {% endcache %}
{% endblock %}